<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client Listing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Смена пароля</h1>
        <form th:action="@{/savePassword}" th:object="${passwordForm}" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/>
            </div>
            <div class="form-group">
                <label>Подтверждение</label>
                <input type="password" th:field="*{confirm}" class="form-control" placeholder="Confirmation"/>
            </div>
            <button class="btn btn-primary" type="submit">Сбросить</button>
        </form>
    </div>
</div>
</body>
</html>