<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client Listing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Сброс пароля</h1>
    <br/>
    <div class="row">

        <form th:action="@{/resetPassword}" method="POST" enctype="application/x-www-form-urlencoded">
            <label class="col-sm-1">Имя пользователя</label>
            <span class="col-sm-5">
                <input class="form-control" name="username" required="required" autofocus="autofocus"/>
            </span>
            <button class="btn btn-primary btn-block" type="submit">Сбросить</button>
            <div class="alert alert-success" th:if="${message != null}" th:text="${message}"></div>
        </form>
    </div>
    <p>
        <a class="btn btn-default" th:href="@{/registration}">Регистрация</a> |
        <a class="btn btn-default" th:href="@{/login}">Вход</a>
    </p>
</div>
</body>
</html>