<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Client Listing</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="m-md-5">
		<a href="/client/registration.html">Регистрация</a>
		<table class="table">
			<thead>
				<tr>
					<th>Family Name</th>
					<th>First Name</th>
					<th>Phones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c: ${clients}">
					<td><a th:href="@{/client/edit(id=${c.id})}"
						th:text="${c.familyName}">Williams</a></td>
					<td th:text="${c.firstName}">John</td>
					<td><table class="table-sm">
							<tbody>
								<tr th:each="ph: ${c.phones}">
									<td th:text="${ph.number}">0000000</td>
									<td th:text="${ph.phoneType}">MOBILE</td>
								</tr>
							</tbody>
						</table></td>
				</tr>
			</tbody>
		</table>
		<div th:if="${currentPage} &gt; 0">
			<a th:href="@{/client/all(page=(${currentPage} - 1))}">Предыдущая</a>
		</div>
		<div th:if="${currentPage} &lt; (${maxPage} - 1)">
			<a th:href="@{/client/all(page=(${currentPage} + 1))}">Следующая</a>
		</div>
	</div>
</body>
</html>
